<!--<div>{{ appState$ | async | json }}</div>-->
<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Manage Workers</h2>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-primary">Print Report</button>

                        <a href="#addEmployeeModal" class="btn btn-succes" data-toggle="modal">
                            <i class="material-icons">&#xE147;</i>
                            <span>New Worker</span>
                        </a>

                        <span>
                            <select name="status" class="btn btn-info" style="height: 32.91px;">
                                <option value="ALL">ALL</option>
                                <option value="TileSetter">TileSetter</option>
                                <option value="Painter">Painter</option>
                                <option value="Electrician">Electrician</option>
                                <option value="Plumber">Plumber</option>
                                <option value="Locksmith">Locksmith</option>
                            </select>
                        </span>
                    </div>
                </div>
            </div> <br>
            <ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">
                <ng-container *ngSwitchCase="DataState.LOADING_STATE">
                    <div class="col-md-12 single-note-item text-center">
                        <div class="spinner-border text-info" role="status"></div>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="DataState.LOADED_STATE">
                    <table class="table table-striped table-hover" id="workers">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Phone Number</th>
                                <th>Age</th>
                                <th>Job</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let worker of appState.appData.data.workers; let i = index">
                            <tr>
                                <td>{{ worker.firstName }}</td>
                                <td>{{ worker.lastName }}</td>
                                <td>{{ worker.email }}</td>
                                <td>{{ worker.phoneNumber }}</td>
                                <td>{{ worker.age }}</td>
                                <td>
                                    {{ worker.job }}
                                </td>
                                <td>
                                    <a class="delete" data-toggle="modal" style="cursor: pointer;"><i
                                            class="material-icons" data-toggle="modal" title="Delete"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>
                <ng-container *ngSwitchCase="DataState.ERROR_STATE">
                    <div class="alert-danger">
                        {{ appState.error }}
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>